@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'SpritzAndDelicious';
  src: url('./fonts/SpritzAndDelicious_PERSONAL_USE_ONLY.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.hero-font {
  font-family: 'SpritzAndDelicious', sans-serif;
}

.custom-font {
  font-family: 'AmericanCaptain', sans-serif; /* Use the font family name defined above */
}

.custom-bg {
  background-color: rgb(160, 64, 8); /* Replace #your-color with your desired color */
}

/* Add these styles to your global styles or a separate stylesheet */
.countdown-container {
  margin-top: 20px;
}

.countdown-text {
  font-size: 2rem;
  color: #fff;
}

.live-now-text {
  font-size: 2rem;
  color: #00df9a;
  font-weight: bold;
}


